.home-container {
    max-width: 60%;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}

.inner-home-container {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.web-title {
    color: white;
    margin: 0;
    font-size: 8rem;
    font-family: 'SUSE-VariableFont_wght', Tahoma, Geneva, Verdana, sans-serif;
}

.web-title-explanation {
    color: white;
    margin-top: 15px;
}
