.table-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

a.table {
 
    width: 100%;
}

.table-header {
    background-color: rgb(28, 28, 79);
    margin: 1rem;
}

.table-entries {
  margin: 2rem;
  background-color: black;

  
}

.button-container {

}

.prev-button {

}

.next-button {

}