.database-title {
    text-align: center;
    font-family: 'SUSE-VariableFont_wght', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loading-text {
    font-family: 'SpaceMono-Regular', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
}